<div id="timers">
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Working"></timer-button>
</div>
<script style="text/javascript">
var index = new Index();
</script>
