<div id="timers">
	<timer-button id="Idle"></timer-button>
	<timer-button id="Coding"></timer-button>
	<timer-button id="Working"></timer-button>
	<timer-button id="Testing"></timer-button>
	<div style="clear:both"></div>
	<timer-button id="Emails"></timer-button>
	<timer-button id="Pull Requests"></timer-button>
	<timer-button id="Jira"></timer-button>
	<timer-button id="Research"></timer-button>
	<div style="clear:both"></div>
	<timer-button id="Wasting"></timer-button>
	<timer-button id="Chatting"></timer-button>
	<timer-button id="Helping Others"></timer-button>
	<div style="clear:both"></div>
	<timer-button id="Lunch"></timer-button>
	<timer-button id="Meetings"></timer-button>
	<timer-button id="Bathroom"></timer-button>
	<timer-button id="Break"></timer-button>
</div>
<script style="text/javascript">
var index = new Index();
</script>
