.timer {
	align-items: center;
	display: flex;
	flex-direction: column;
	float: left;
	margin-top: 25px;
	width: 200px;

	.btn {
		float:left;
	}

	.hidden {
		display: none;
	}

	.time-display {
		height:1.5em;
		text-align: center;
		width: 100%;
	}
}
